@model Avtobuska.Models.Bilet


@if(Model.Linija != null)
{


<form asp-controller="Home" asp-action="Reserviraj" method="post">
    <div>
        Vreme Na trgnuvanje: @Model.Linija.VremeNaTrgnuvanje.ToString("HH:mm")
    </div>

    <div>
        Destinacija: @Model.Destinacija.Mesto.Name
    </div>

    <div>
        Tip na bilet:
        @if (Model.Povraten)
        {
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
            <span>Повратен</span>
        }
        else
        {
            <span>Еден правец </span>
        }
    </div>
    <div>
        Цена:
        @if (Model.Povraten)
        {
            <strong>@Model.Destinacija.CenaNaPovraten</strong>
        }
        else
        {
            <strong>@Model.Destinacija.CenaNaEdenPravec</strong>
        }
=======
            <span>ПОВРАТЕН</span>
=======
            <span>POVRATEN</span>
>>>>>>> parent of b625b16... bilets are saving in db
=======
            <span>POVRATEN</span>
>>>>>>> parent of b625b16... bilets are saving in db
        }
        else
        {
            <span>NEPOVRATEN </span>
        }
    </div>
    <div>
<<<<<<< HEAD
<<<<<<< HEAD
        Цена на билетот: @Model.Cena
>>>>>>> b625b16bcec25f25e1783d99dbf5c475f545e804
=======
=======
>>>>>>> parent of b625b16... bilets are saving in db
        Cena:
        @if (Model.Povraten)
        {
            <strong>@Model.Destinacija.CenaNaPovraten</strong>
        }
        else
        {
            <strong>@Model.Destinacija.CenaNaEdenPravec</strong>
        }
<<<<<<< HEAD
>>>>>>> parent of b625b16... bilets are saving in db
=======
>>>>>>> parent of b625b16... bilets are saving in db
    </div>

    <div>
        <button type="submit" class="btn btn-default">Резервирај</button>
    </div>
</form>

}