@model Avtobuska.Models.Bilet

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Bilet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Linija)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Linija.ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SedisteBroj)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SedisteBroj)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Izdaden)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Izdaden)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rezerviran)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rezerviran)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cena)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cena)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
