@model Avtobuska.Models.Bilet

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bilet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Linija)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Linija.ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SedisteBroj)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SedisteBroj)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Izdaden)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Izdaden)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rezerviran)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rezerviran)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cena)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cena)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
