@model Avtobuska.Models.Stanica

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Stanica</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mesto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mesto.ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Linija)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Linija.ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CenaNaEdenPravec)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CenaNaEdenPravec)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CenaNaPovraten)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CenaNaPovraten)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
